.footer {
    width: 100%;
    text-align: center;
    /* Push the footer to the bottom of the available space */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight (e.g., bold, 700, etc.) as needed */
  }
  
  .footer::before {
    content: "";
    display: block;
    height: 1px; /* Set the height of the white line */
    background-color: white; /* Set the line color to white */
    margin: 1 100px; /* Adjust the margin to control distance from each side */
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Align the list items to the right */
  }
  
  .footer ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Adjust the font size for the links */
    font-weight: normal; /* Set the font weight to normal (not bold) */
  }